@charset "utf-8";

@media screen and (max-width:1299px) {

  /*ν—¤λ”*/
  header {
    width: 100%;
    height: 80px;
    margin: 0 auto;
  }

  #header_box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #header_box>#logo_box>a {
    display:block;
    width: 117px;
    height: 25px;
  }

  #header_box>#logo_box>a>img {
    width: 100%;
    height: 100%;
  }

  #header_box>#logo_box>.menu_icon {
    display: none;
  }

  #header_box>#logo_box>.close_icon {
    display:none;
  }

  #header_box>nav {
    width: 300px;
    height: 50px;
  }

  #header_box>nav>ul {
    display: flex;
    justify-content: space-between;
    font-family: 'Syne', sans-serif;
    font-weight: 600;
  }

  #header_box>nav>ul>li {
    line-height: 50px;
  }

  #header_box>nav>ul>li>a {
    position: relative;
    text-decoration: none;
    color: #333;
  }

  #header_box>nav>ul>li>a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    margin-top: 3px;
    background: #333;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  #header_box>nav>ul>li>a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  #header_box>nav #now {
    border-bottom: 2px solid #333;
    padding-bottom: 3px;
    cursor: default;
  }

  #header_box>nav #now:hover::after {
    transform: scaleX(0);
  }


  /*ν‘Έν„°*/
  footer {
    width: 100%;
    height: auto;
    margin: 0;
    border-top: 1px solid #000;
  }

  footer>#footer_wrap {
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }

  #footer_wrap>#footer_menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-evenly;
  }

  #footer_wrap>#footer_menu li {
    width:40%;
    text-align: center;
  }

  #footer_wrap>#footer_menu a {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
  }

  #footer_wrap>#footer_menu a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #000;
    top: 100%;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: right;
  }

  #footer_wrap>#footer_menu a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }

  #footer_wrap>#footer_menu img {
    width: 18px;
    height: 18px;
    vertical-align: center;
    margin: 6px 5px 0 0
  }
}